/*Universal Style*/
*{
    margin: 0;
   padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Shared Style*/
.Gray-dark{
    color: var(--Dark 02, rgba(66, 66, 66, 1));
}
.dark-1{
    color:  var(--Dark 01, rgba(19, 19, 19, 1));
}
.Gray-dark2{
    color:  var(--Dark 03, rgba(114, 114, 114, 1));
}
.My-btn{
    width: 180px;
    height: ;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/*Navbar Style*/
.header{
   
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding: 50px 0 102px 0;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.nav-link{
    text-decoration: none;
}
.nav-item{
    list-style: none;
}
.brand{
    font-size: 45px;
    font-weight: 600;
}
/*Banner Style*/
.banner{
    text-align: center;
}
.H1{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 10px;
}
.para{
    font-size: 16px;
    line-height: 26px;
    
}
.banner-image{
   margin: 50px 0 45px 0;
}
/*Middle Part Style*/
.middle{
    display: flex;
    margin: 80px 0 100px 0;
    gap: 95px;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.middle-last{
    text-align: left;
  
}
#Quick{
    font-weight: 500;
    font-size: 45px;
    color: rgba(114, 114, 114, 1);
}
#Of{
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 45px;
}
#Orange{
    font-weight: 600;
    font-size: 45px;
    color: rgba(255, 144, 14, 1);
}
#middle-first{
    margin-bottom:20px;
    text-align: left;
}
#middle-para{
    font-size: 16px;
    color: var(--Dark 03, rgba(114, 114, 114, 0.156));
    line-height: 25px;
}
/*Cards*/
.cards-up{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    height: 820px;
    margin-bottom: 100px;
}
.heading{
    font-size: 45px;
    font-weight: 700;
    color: var(--Dark 01, rgba(19, 19, 19, 1));
    margin-bottom: 24px;
}
.heading-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:  var(--Dark 03, rgba(114, 114, 114, 0.927));
    margin-bottom: 30px;
}

.card-info{
    padding: 30px 42px 30px 30px;
    box-shadow:0px 8px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    
}
.card-info h4{
    font-size: 20px;
    font-weight: 600;
    color:  var(--Dark 01, rgba(19, 19, 19, 1));
    margin-bottom: 10px;
}
.card-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--Dark 03, rgba(114, 114, 114, 1));
}
.architecture{
    width: 100%;
    padding-top: 45px;
}
.ptext{
    text-align: center;
    padding:15px 150px 15px 150px;
    margin-top: 1px;
}
